:root{
    --font-size-text: 20px;
    --nav-button-width: 160px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg{
    background-image: url('../foto/4.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contener{
    width: 55%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
/*////LOGO - Header//////////////////*/
.box_header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0px;
    font-size: calc(var(--font-size-text)*1.5);
    text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white;;
}
.box_header h5{
    margin-bottom: 10px;
    padding-left: 5px;
    color: #33402a;
}
.box_nav{
    width: 100%;
    display: flex;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0px 0px;
    list-style-type: none;
}
.nav_button{
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: calc(var(--font-size-text)*1.2);
    font-weight: bold;
    width: var(--nav-button-width);
    height: 60px;
    background-color: rgb(89, 134, 194);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px auto;
    color: #000;
    text-decoration: none;
    transition: 1s;
}
.nav_button:hover{
    background-color: rgba(89, 135, 194, 0.712);
    color: white;   
}
/*////conent box//////////////////*/
.box_content{
    width: 100%;
    background-color: rgba(72, 121, 177, 0.9);
    border-radius: 80px;
    padding: 5px;
    margin: 100px 0;
}
.title{
    padding: 10px 0;
}
.content{
    padding: 0 10%;
    text-align: justify;
    font-size: calc(var(--font-size-text)*1.2);
}
.box_content ul{
    line-height: 30px;
    list-style-type: none;
    font-size:var(--font-size-text);
	text-align: center;
}
/*////slider//////////////////*/
.photo_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;
}
.slider_show{
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
}
.navigation{
    bottom: 20px;
    display: flex;
}
.bar{
    width: 40px;
    height: 10px;
    border: 2px solid #000;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: #000;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
/*////card//////////////////*/
.cards{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    padding-bottom: 10px;
}
.card{
	background-color: skyblue;
	width: 70%;
	height: 15vh;
	margin: 10px;
	border: 1px solid #2f3640;
    border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
.card .icon{
    font-size: calc(var(--font-size-text)*1.7);
	background-color: rgb(11, 108, 146);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	transition: .3s linear;
	position: absolute;
}
.card:hover .icon{
	background: none;
	color: rgb(11, 108, 146);
	transform: scale(1.5) translateY(-10px);
}
.card p{
	opacity:0;
	transition: 0.5s ease-out;
    font-size: calc(var(--font-size-text)*1.2);
    color: #000;
    font-weight: bold;
}
.card p a{
	color: #000;
	text-decoration: none;
}
.card:hover p{
	opacity: 1;
	transform: translateY(30px);
}
/*//////media///////*/
@media screen and (max-width: 1200px ) {
    .nav_button{
        width: calc(var(--nav-button-width)*0.8);
        font-size: calc(var(--font-size-text)*1.1);
    }
    .box_content{
        margin-top: 10px;
    }
}
@media screen and (max-width: 1060px ) {
    .contener{
        width: 70%;
    }
    .box_content ul{
        font-size: calc(var(--font-size-text)*.9);
    }
    .content{
        font-size: calc(var(--font-size-text)*1); 
    }
}
@media screen and (max-width: 940px ) {
    .box_header h5{
        padding: 0;
        text-align: left;
    }
    .nav_button{
        width: calc(var(--nav-button-width)*0.7);
        font-size: calc(var(--font-size-text)*1);
    }
}
@media screen and (max-width: 760px ) {
    .contener{
        width: 90%;
    }
}
@media screen and (max-width: 580px ) {
    .box_content ul{
        line-height: 25px;
    }
    .card p{
        font-size: calc(var(--font-size-text));
    }
    .slider_show{
        width: 90%;
        height: 90%;
    }
}
@media screen and (max-width: 500px){
    .content{
        font-size: calc(var(--font-size-text)*.9); 
        padding: 0 5%;
    }
    .box_content{
        border-radius: 15px;
    }  
    .nav_button{
        width: calc(var(--nav-button-width));
    }
}
@media screen and (max-width: 460px ) {
    .box_header h1{
        font-size: calc(var(--font-size-text)*2.2);
    }
    .box_header h5{
        font-size: var(--font-size-text);
        padding: 0;
        text-align: left;
    } 
    .card p{
        font-size: calc(var(--font-size-text)*0.8);
    }
}
@media screen and (max-width: 360px ) {
    .nav_button{
        height: 40px;
        line-height: 20px;
    }
    .content{
        font-size: calc(var(--font-size-text)*.8); 
        padding: 0 5%;
    }
    .box_content ul{
        font-size: calc(var(--font-size-text)*.8);
        line-height: 20px;
    }
    .card{
        width: 70%;
        height: 10vh;
    }
    .card .icon{
        font-size: calc(var(--font-size-text)*1.6);
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .card p{
        font-size: calc(var(--font-size-text)*0.6);
    }
    .card:hover p{
        transform: translateY(20px);
    }
    .card:hover .icon{
        transform: scale(1.2) translateY(-5px);
    }
}
@media screen and (max-height: 600px ) {
    .card {
        height: 20vh;
    }
}
@media screen and (max-height: 400px ) {
    .card {
        height: 25vh;
    }
}